
@mixin colorwaveframes() {
	0% ,100% { stroke: #75c7f0; }
	50% { stroke: #ed5541; }
}

@mixin headercolorframes() {
	0% ,100% { color: #75c7f0; }
	50% { color: #ed5541; }
}

@mixin rotateframes($val1, $val2, $val3) {
	0% {transform: rotateY($val1);}
	50% {transform: rotateY($val2);}
	100% {transform: rotateY($val3);}
}

@-webkit-keyframes colorwave { @include colorwaveframes(); }
@-moz-keyframes colorwave { @include colorwaveframes(); }
@-ms-keyframes colorwave { @include colorwaveframes(); }
@-o-keyframes colorwave { @include colorwaveframes(); }
@keyframes colorwave { @include colorwaveframes(); }

@-webkit-keyframes rotate { @include rotateframes(0deg, 180deg, 360deg); }
@-moz-keyframes rotate { @include rotateframes(0deg, 180deg, 360deg); }
@-ms-keyframes rotate { @include rotateframes(0deg, 180deg, 360deg); }
@-o-keyframes rotate { @include rotateframes(0deg, 180deg, 360deg); }
@keyframes rotate { @include rotateframes(0deg, 180deg, 360deg); }

@-webkit-keyframes headercolor { @include headercolorframes(); }
@-moz-keyframes headercolor { @include headercolorframes(); }
@-ms-keyframes headercolor { @include headercolorframes(); }
@-o-keyframes headercolor { @include headercolorframes(); }
@keyframes headercolor { @include headercolorframes(); }
