@import 'reset';

section.splash {
	padding: 0;
}

.splash {
	background-color: #000;
	height: 100vh;
	width: 100%;
	position: relative;
}

.main-logo {
	left: calc(50vw - 125px);
	position: absolute;
	top: calc(50vh - 125px);
	width: 250px;
	z-index: 100;
}

.main-logo img {
	width: 100%;
}

.svg {
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: calc(50vh - 50px);
	z-index: 10;
}

.sine-wave {
	fill: transparent;
	stroke: #fff;
	stroke-width: 3;
	stroke-linecap: round;
}
