@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway');
@import 'mixins';
@import 'mediaqueries';
@import 'wallop';


/**************************************************
	GLOBAL
**************************************************/
body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

section {
	position: relative;
}

.section-detail {
	color: #fff;
	font-size: 20px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

.section-title {
	animation: headercolor 2s infinite linear;
	animation-delay: 1s;
	color: #fff;
	font-family: 'Monoton', cursive;
	letter-spacing: 5px;
	line-height: 1.3;
	text-transform: uppercase;
}

input {
	outline: none;
}



/**************************************************
	SPLASH
**************************************************/
.splash {
	.sine-wave {
		animation: colorwave 2s infinite linear;
	}
}



/**************************************************
	INTRO
**************************************************/
.intro {
	background-color: #000;

	.section-title {
		max-width: 25ch;
	}

	.section-detail {

		.play-pills {
			color: #ed5541;
			cursor: pointer;
			white-space: nowrap;
		}

		.play-pills:hover {
			animation: headercolor 2s infinite linear;
			color: #fff;
		}
	}

	.yt-outer-container {
		max-width: 700px;
		margin: 0 auto;

		.yt-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;

			iframe,
			embed,
			object {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}



/**************************************************
	MUSIC
**************************************************/
.music {
	background-color: #ed5541;
	background-image: url('../../dist/images/white-logo-transparent.png');
	background-size: 14.2857143%;

	.bc-outer-container {
		max-width: 500px;
		margin: 0 auto;

		.bc-container {
			position: relative;
			padding-bottom: 190%;
			height: 0;
			overflow: hidden;

			iframe,
			object,
			embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}



/**************************************************
	CONNECT
**************************************************/
.connect {
	background-blend-mode: multiply;
	background-color: rgba(0,0,0,.7);
	background-image: url('../../dist/images/gate.jpg');
	background-position: top center;
	background-size: cover;

	.music-links {
		color: #ed5541;
		margin: 0 10px;

		&:hover {
			animation: headercolor 2s infinite linear;
		}
	}
}



/**************************************************
	MAILCHIMP OVERRIDES
**************************************************/
.connect #mc_embed_signup {
	clear:left;
	font-family:'Raleway',sans-serif;
	font-size:14px;
	margin:20px auto;
	max-width:460px;
	width:100%;
}

.connect #mc_embed_signup input.email {
	border-radius:0;
	border:none;
}

.connect #mc_embed_signup input.button {
	-webkit-appearance: none;
	background-color: darken(#75c7f0, 10%);
	border-radius: 0;
}

.connect #mc_embed_signup .button:hover {
	background-color: darken(#75c7f0, 30%);
}



/**************************************************
	WAVEFORMS
**************************************************/
.waveform {
	background-color: #fff;

	.gifs-wrap {
		margin: 0 auto;
		max-width: 500px;
		width: 100%;

		figure {

			img {
				border: 2px solid #eee;
				width: 100%;
			}

			figcaption {
				color: #333;
				margin: 15px 0 0;
				text-align: left;
			}
		}
	}

	.symbols-wrap {
		position: relative;
		width: 100%;
		height: 350px;
		margin-bottom: 50px;

		[class^="symbol-item"] {
			background-size: cover;
			width: 140px;
			height: 350px;
			position: absolute;
			top: 0;
			left: calc(50% - 70px);
		}

		.symbol-item--red {
			background-image: url('../../dist/images/red-symbol.png');
			animation: rotate 3s linear infinite;
			animation-delay: 750ms;
		}

		.symbol-item--blue {
			background-image: url('../../dist/images/blue-symbol.png');
			animation: rotate 3s linear infinite;
		}
	}

}



/**************************************************
	BIO SECTION
**************************************************/
.bio {
	background-color: #75c7f0;
	background-image: url('../../dist/images/symbol-pattern.png');
	background-size: 115px;

	figure {
		max-width: 500px;
		margin: 0 auto;
	
		img {
			width: 100%;
		}
	
		figcaption {
			margin: 15px 0;
			text-align: left;
		}
	}
}
